DB_URL=
JWT_SECRET=
HASH_ALGORITHM=HS256

# Expiry time of the jwt token
TOKEN_EXPIRY_TIME=60

# Email details for otp verification
EMAIL_ADDRESS=
EMAIL_PASSWORD=
SMTP_SERVER=smtp.gmail.com
SMTP_PORT=587

# For logging in
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=


FRONTEND_URL=